@model MVCForum.Website.ViewModels.AllBadgesViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.LanguageString("Badges.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="mainheading">
    <h1>Terms of Service</h1>    
</div>


